@page
@model IndexModel
@{
    ViewData["Title"] = "Marmara University Movie Platform";
}
<form method="post">
    <input type="text" name="searchQuery" placeholder="Search movies..." />
    <button type="submit">Search</button>
</form>

<h3>Popular Movies:</h3>
@foreach (var movie in Model.PopularMovies)


    {
        string url = "https://image.tmdb.org/t/p/original" + movie.Poster_Path;
    <div class="row row-cols-5">
        @*<a href="https://www.imdb.com">*@
        <a href="MovieDetail?id=@movie.Id">
            <div class="card">
                <img src="@url" alt="Poster" class="card-img-top" width="200" height="300" />
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text">Release Date: @movie.Release_Date</p>
                </div>
            </div>
        </a>
    </div>}
