@page
@model IndexModel
@{
    ViewData["Title"] = "Marmara University Movie Platform";
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <span>@error.ErrorMessage</span>
        }
    </div>
}

<div class="layout d-flex flex-column align-items-center " style="--bs-bg-opacity: .7; padding-top: 120px;">
    <div class="padding-auto d-flex flex-column">
        <div class="center">
<h2 class="m-3 text-light text-center">Popular Movies</h2>

    <form method="post" class="d-flex mb-4">
        <input type="text" class="text-white login-input bg-dark border border-dark rounded-2" style="--bs-bg-opacity: .7;" name="searchQuery" placeholder="Search movies..." />
        <button type="submit" class="btn btn-dark mx-3">Search</button>
    </form>
        </div>


    </div>
    

    <div class=" center">
        <div class="grid-movie">
            @foreach (var movie in Model.PopularMovies)
            {
                string url = "https://image.tmdb.org/t/p/original" + movie.Poster_Path;
                <div class="center">
                    <a href="MovieDetail?id=@movie.Id" class="nav-link">
                        <div class="movie-card mb-5 relative bg-black border-dark " style="--bs-bg-opacity: .4;">
                            <img src="@url" alt="Poster" class="card-img-top absolute " width="100%" height="75%" />
                            <div class="card-body">
                                <h5 class="card-title">@movie.Title</h5>
                                <p class="card-text">Release Date: @movie.Release_Date</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

</div>
