@page
@model MarmaraMovieWorld.Pages.LoginModel
@{
}


<body class="bg-black " style="--bs-bg-opacity: .9; ">
    
        <div class="background-image"><div class=" login p-5 mb-5 rounded-3 ">
            <div class="layout">
                <div class="row text-white justify-content-center mt-5 ">
                    <div class="col-md-6 border border-dark rounded-3 bg-black px-5 py-3 " style="--bs-bg-opacity: .5;width:450px;" >
                        <div class="text-center  p-3"><h1>Marmara Movie World</h1></div>
                        <form>
                            <div class="mb-3">
                                <label for="username" class="form-label">Email address</label>
                                <input type="text" class="text-white form-control bg-dark border border-dark" style="--bs-bg-opacity: .7;" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="text-white form-control bg-dark border border-dark" style="--bs-bg-opacity: .7;" id="password" required>
                            </div>
                            <button type="submit" class="btn btn-dark w-100 ">Login</button>
                            <div class="form-group m-3 ">
                                <input type="checkbox" class="form-check-input" />
                                <label for="checkbox">Remember me</label>
                            </div>
                            <div class="form-group row row-cols-1 " style="width:280px; margin-left:35px;">
                                <button type="submit" class="btn btn-outline-dark mb-3"><a class="p-0 nav-link text-light" asp-area="" asp-page="/Homepage">Sign In</a></button>
                                <button type="button" class="d-flex  text-center align-items-center justify-content-center rounded-2 btn btn-dark /25">
                                    <img src="https://kaiber.ai/images/487d2d0a24351d59d4f7a116ba7f1236-google.svg" alt="Google Icon">
                                    <span class="text-white ">Sign in with Google</span>
                                </button>
                                <p class="text-center mt-3">or</p>
                                <button type="submit" class="btn btn-outline-dark href"><a class="p-0 nav-link text-light" asp-area="" asp-page="/Register">Sign Up</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            


        </div></div>
        
    </div>
</body>