<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarmaraMovieWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MarmaraMovieWorld.styles.css" asp-append-version="true" />
</head>
<body class="bg-black " style="--bs-bg-opacity: .7;">
   <header>
        <nav class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black fixed-top center mt-3  border-dark "  style="--bs-bg-opacity: .7; box-shadow: 0rem 0rem 4rem 20px #060660c2 !important; ">
            <div class="container d-flex navigator">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Index">
                    <img class="navbar-logo mx-3"src="~/lib/img/logo.png" alt="MarmaraMovieWorld Logo">
                    MarmaraMovieWorld
                </a>

                <div class=" d-flex buttons ">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light mx-3 px-3 border border-dark rounded-3 home-btn "  asp-area="" asp-page="/Index" >HOME</a>
                        </li>
                            @if (User.Identity.IsAuthenticated)
                            {

                              
                            <li class="nav-item">
                                <a class="nav-link text-light mx-3 px-3 border border-dark rounded-3 home-btn "
                                   asp-page="/Account/Profile"> @User.Identity.Name</a>
                            </li>
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-light mx-3 px-3 btn btn-dark home-btn " style="--bs-bg-opacity: .7; " asp-area=""
                                       asp-page="/Account/Logout">Logout</a>
                                </li>
                            </ul>
                            } else {
                        <li class="nav-item">
                            <a class="nav-link text-light mx-3 px-3 btn btn-dark home-btn " style="--bs-bg-opacity: .7; " asp-area="" asp-page="/Account/Login">LOGIN</a>
                        </li>
                            }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="layout">
        <main role="main" class="pb-3">
            @RenderBody()
        <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MarmaraMovieWorld -
        </div>
    </footer>
        </main>
        
    </div> 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>