################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/MarmaraMovieWorld/obj/Debug/net6.0/MarmaraMovieWorld.GeneratedMSBuildEditorConfig.editorconfig
/MarmaraMovieWorld/obj/project.nuget.cache
/.vs/MarmaraMovieWorld/DesignTimeBuild/.dtbcache.v2
/.vs/MarmaraMovieWorld/FileContentIndex/24250d27-75cd-4a0d-81a6-99e31fa1ac6f.vsidx
/.vs/MarmaraMovieWorld/FileContentIndex/4b7c44eb-a00e-47dd-b8c9-0dc6c2387a98.vsidx
/.vs/MarmaraMovieWorld/FileContentIndex/577f7920-d88b-45c4-ab9c-97d3597fd753.vsidx
/.vs/MarmaraMovieWorld/FileContentIndex/83971762-9274-4917-ba5c-a77fb109f542.vsidx
/.vs/MarmaraMovieWorld/FileContentIndex/84666669-1d8e-4003-a312-c99e7367d958.vsidx
/.vs/MarmaraMovieWorld/FileContentIndex/c0c1b4ea-0a86-4a72-adde-a20059daed2e.vsidx
/.vs/MarmaraMovieWorld/FileContentIndex/da59fff2-1e69-4dcd-8921-840972e9274a.vsidx
/.vs/MarmaraMovieWorld/FileContentIndex/dfe1ade7-d365-493f-8dbe-78c4a09d5894.vsidx
/.vs/MarmaraMovieWorld/v17/.futdcache.v2
/.vs/MarmaraMovieWorld/v17/.suo
/.vs/ProjectEvaluation/marmaramovieworld.metadata.v7.bin
/.vs/ProjectEvaluation/marmaramovieworld.projects.v7.bin
/MarmaraMovieWorld/bin/Debug/net6.0/MarmaraMovieWorld.dll
/MarmaraMovieWorld/bin/Debug/net6.0/MarmaraMovieWorld.pdb
/MarmaraMovieWorld/bin/Debug/net6.0/MarmaraMovieWorld.staticwebassets.runtime.json
/MarmaraMovieWorld/obj/Debug/net6.0/MarmaraMovieWorld.csproj.CoreCompileInputs.cache
/MarmaraMovieWorld/obj/Debug/net6.0/MarmaraMovieWorld.dll
/MarmaraMovieWorld/obj/Debug/net6.0/MarmaraMovieWorld.genruntimeconfig.cache
/MarmaraMovieWorld/obj/Debug/net6.0/MarmaraMovieWorld.pdb
/MarmaraMovieWorld/obj/Debug/net6.0/ref/MarmaraMovieWorld.dll
/MarmaraMovieWorld/obj/Debug/net6.0/refint/MarmaraMovieWorld.dll
/MarmaraMovieWorld/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.MarmaraMovieWorld.props
/MarmaraMovieWorld/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.MarmaraMovieWorld.props
/MarmaraMovieWorld/obj/Debug/net6.0/staticwebassets.build.json
/MarmaraMovieWorld/obj/Debug/net6.0/staticwebassets.development.json
/MarmaraMovieWorld/obj/Debug/net6.0/staticwebassets.pack.json
/MarmaraMovieWorld/obj/MarmaraMovieWorld.csproj.nuget.dgspec.json
/MarmaraMovieWorld/obj/MarmaraMovieWorld.csproj.nuget.g.props
/MarmaraMovieWorld/obj/project.assets.json
