@page
@model acme.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="layout mt-5 text-white">

    <div class="mt-5 ">



        <div class="col-md-2 m-5 pt-5 d-flex flex-column">
            <h2 class="my-5 pt-5">@ViewData["Title"]</h2>
            <img class="" src="@Model.UserProfileImage"
                 alt="" class="img-rounded img-responsive" />
            <div class="mt-5 pb-5">
                <h3>Mail Adress</h3>
                <p>
                    <i class="glyphicon glyphicon-envelope mb-5"></i> @Model.UserEmailAddress
                </p>
            </div>

        </div>
       


    </div></div>