html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html, body {
    position: relative;
    min-height: 100%;
    background: black;
}


.layout {

    height: 100%;
  
}

.background-image {
    background-image: linear-gradient(to bottom,rgba(10,12,15,0.4),black), url('https://wallpaperaccess.com/full/3658597.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 100%;
    height: 100%;
    position:fixed;
}

.login-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
}

.movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height:814px;
    word-wrap: break-word;
    text-align:center;
    background-clip: border-box;
    border: 1px solid #05035fa8;
    box-shadow: 0rem 0rem 1rem 0px #05035fa8 !important;
    color:white;
}