
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html, body {
    position: relative;
    min-height: 100%;
    background: black;
    background-image: linear-gradient(to left bottom,rgba(10,12,15,0.8),black), url('https://wallpaperaccess.com/full/3658597.jpg');
    background-repeat: repeat-y;
    min-width: 502px;
}
::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    background: black;
}


::-webkit-scrollbar-thumb {
    background: #05035fa8;
}

 ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

 .center{
     margin-left:auto;
     margin-right:auto;
 }

.padding-auto {
width:100%;
}

.grid-movie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

   
}

.home-btn {
    font-size: 12px;
}
.home-btn:hover {
    box-shadow: 0rem 0rem 1rem 1px black !important;

}

.comment-container {
    border-radius: 10px;
}

nav {
    max-width: 1000px;
    border-radius: 10px;
    position: fixed;
    top: 0;
   
}
.navbar-logo{
    width:40px;
    height:40px;
    border-radius:10px;
}


.layout {
    height: 100%;
  
}

.background-image {
    background-image: linear-gradient(to bottom,rgba(10,12,15,0.4),black), url('https://wallpaperaccess.com/full/3658597.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 100%;
    height: 100%;
    position:fixed;
}

.login-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
}


.movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height:714px;
    word-wrap: break-word;
    text-align:center;
    background-clip: border-box;
    border: 1px solid #05035fa8;
    box-shadow: 0rem 0rem 1rem 0px #05035fa8 !important;
    color:white;
}

@media only screen and (max-width: 1318px) {
    .grid-movie {
        grid-template-columns: repeat(2, 1fr);
    }
    nav {
        max-width: 800px;
    }
}

@media only screen and (max-width: 893px) {
    .grid-movie {
        grid-template-columns: repeat(1, 1fr);
    }
    .layout {
        padding-top: 120px;
    }

    .navigator {
        display: grid;
        flex-direction: column;
      
    }
    .nav-item{
        margin:5px;
    }
    nav {
        max-width: 450px;
    }
}

